:root {
  /* FONTS */
  --font-family-sans: "Inter", -apple-system, BlinkMacSystemFont, helvetica,
    arial, sans-serif;
  --font-family-sans-display: "Inter", -apple-system, BlinkMacSystemFont,
    helvetica, arial, sans-serif;

  --xxxl: 2.2rem;
  --xxl: 1.8rem;
  --xl: 1.4rem;
  --lg: 1.15rem;
  --md: 1rem;
  --sm: 0.9rem;
  --xs: 0.8rem;

  /* ---------COLORS--------- */
  /* neutral */
  --gray-10: hsl(230, 10%, 10%);
  --gray-20: hsl(230, 10%, 20%);
  --gray-30: hsl(230, 10%, 30%);
  --gray-40: hsl(230, 10%, 40%);
  --gray-50: hsl(230, 10%, 50%);
  --gray-60: hsl(230, 10%, 60%);
  --gray-70: hsl(230, 10%, 70%);
  --gray-80: hsl(230, 10%, 80%);
  --gray-90: hsl(230, 10%, 90%);
  --gray-92: hsl(230, 10%, 92%);
  --gray-94: hsl(230, 10%, 94%);
  --gray-96: hsl(230, 10%, 96%);
  --gray-98: hsl(230, 10%, 98%);

  --blue-40: hsl(194, 90%, 40%);
  --blue-50: hsl(194, 85%, 50%);
  --blue-55: hsl(194, 90%, 55%);
  --blue-60: hsl(194, 90%, 60%);
  --blue-65: hsl(194, 90%, 65%);
  --blue-70: hsl(194, 90%, 70%);
  --blue-75: hsl(194, 90%, 75%);
  --blue-80: hsl(194, 90%, 80%);
  --blue-85: hsl(194, 90%, 85%);
  --blue-90: hsl(194, 90%, 90%);
  --blue-96: hsl(194, 90%, 96%);
  --blue-98: hsl(194, 90%, 98%);

  /* https://coolors.co/def0f7-b3dced-9dd2e8-87c8e3-309fcf-2884ac-206989-184e66-0f3343 */
  --primary-100: hsla(197, 61%, 92%, 1);
  --primary-200: hsla(198, 62%, 82%, 1);
  --primary-300: hsla(198, 62%, 76%, 1);
  --primary-400: hsla(198, 62%, 71%, 1);
  --primary-500: hsla(198, 62%, 50%, 1);
  --primary-600: hsla(198, 62%, 42%, 1);
  --primary-700: hsla(198, 62%, 33%, 1);
  --primary-800: hsla(198, 62%, 25%, 1);
  --primary-900: hsla(198, 63%, 16%, 1);

  /* https://coolors.co/d5d5ec-b3b3d9-9191c5-6f6fb1-4c4c9d-404084-34346a-282851-1b1b37 */
  --secondary-100: hsla(240, 38%, 88%, 1);
  --secondary-200: hsla(240, 33%, 78%, 1);
  --secondary-300: hsla(240, 31%, 67%, 1);
  --secondary-400: hsla(240, 30%, 56%, 1);
  --secondary-500: hsla(240, 35%, 46%, 1);
  --secondary-600: hsla(240, 35%, 38%, 1);
  --secondary-700: hsla(240, 34%, 31%, 1);
  --secondary-800: hsla(240, 34%, 24%, 1);
  --secondary-900: hsla(240, 34%, 16%, 1);

  /* semantic */
  --red-50: hsl(0, 80%, 60%);
  --red-60: hsl(0, 80%, 65%);
  --red-96: hsl(0, 80%, 96%);

  --orange-20: hsl(40, 100%, 30%);
  --orange-40: hsl(40, 80%, 40%);
  --orange-50: hsl(30, 100%, 50%);
  --orange-60: hsl(40, 100%, 65%);
  --orange-96: hsl(30, 100%, 96%);

  --yellow-60: hsl(50, 100%, 65%);
  --yellow-70: hsl(50, 100%, 70%);
  --yellow-80: hsl(50, 100%, 80%);
  --yellow-90: hsl(50, 100%, 90%);
  --yellow-95: hsl(50, 100%, 95%);

  --green-40: hsl(133, 60%, 40%);
  --green-45: hsl(133, 60%, 45%);
  --green-50: hsl(133, 60%, 50%);
  --green-75: hsl(133, 60%, 75%);
  --green-85: hsl(133, 60%, 85%);
  --green-94: hsl(133, 60%, 94%);

  /* text colors */
  --text-primary: var(--gray-30);
  --text-secondary: var(--gray-40);
  --text-tertiary: var(--gray-60);

  /* background colors */
  --background-color: var(--gray-94);

  /* misc */
  --destructive: var(--red-50);

  /* ---------SHADOWS--------- */
  --shadow-sm: 0 1px 3px rgba(51, 51, 51, 0.2);
  --shadow-md: 0 4px 6px rgba(26, 26, 26, 0.1);
  --shadow: hsla(40, 10%, 60%, 0.1); /* TODO - transparent gray color defs */

  /* ---------BORDER RADIUS--------- */
  --border-radius-xl: 12px;
  --border-radius-lg: 9px;
  --border-radius-md: 6px;
  --border-radius-sm: 3px;

  /* ---------SIZES--------- */
  --card-size: 18rem;
}
